email: lars.mikelsons@uni-a.com
description: >-
  Der Lehrstuhl für Mechatronik zeichnet sich durch eine wegweisende Verknüpfung von physikalischem Verständnis,
  mechatronischem Engineering und Scientific Machine Learning aus. Unsere Expertise liegt darin, komplexe Interaktionen
  zwischen mechanischen, elektronischen und weiteren Subsystemen zu verstehen, zu modellieren und zu optimieren. 
baseurl: ""
url: "https://una-auxme.github.io"
github_username:  una-auxme
repository: una-auxme/una-auxme.github.io

# Build settings
# https://github.com/mmistakes/minimal-mistakes
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "dark" # "default" "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
plugins:
  - jekyll-include-cache
  - jekyll-polyglot

include: ["_pages"]

languages: ["de", "en"]
default_lang: de
exclude_from_localization: ["assets/images"]
parallel_localization: false

sass:
  sourcemap: never

logo: "/assets/logo/logo.png"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/una-auxme"
    - label: "Impressum"
      url: "/impressum/"
    - label: "Imprint"
      url: "/en/impressum/"

defaults:
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      toc: true
      toc_sticky: true
      author_profile: false
      read_time: false
      comments: false
      share: false
      related: false
  - scope:
      path: "_pages/de"
    values:
      title: "Lehrstuhl für Mechatronik"
      lang: de
      header:
        overlay_color: "#000"
        overlay_filter: "0.5"
        overlay_image: /assets/logo/AuxMe.jpg
        actions:
          - label: "Zum Lehrstuhl"
            url: "https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/imech/"
        caption: "Photo credit: **Peter Krönes**"
      excerpt: "Hier findet ihr aktuelle Themen für studentische Arbeiten an unserem Lehrstuhl."
      toc_label: Themen
  - scope:
      path: "_pages/en"
    values:
      title: "Chair of Mechatronics"
      lang: en
      header:
        overlay_color: "#000"
        overlay_filter: "0.5"
        overlay_image: /assets/logo/AuxMe.jpg
        actions:
          - label: "View Chair"
            url: "https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/imech/"
        caption: "Photo credit: **Peter Krönes**"
      excerpt: "Here you can find current topics for projects and theses at our chair."
      toc_label: Topics
  - scope:
      path: "topics/_aka"
    values:
      contact: "julius-aka"
  - scope:
      path: "topics/_boborzi"
    values:
      contact: "damian-boborzi"
  - scope:
      path: "topics/_hoepfner"
    values:
      contact: "valentin-hopfner"
  - scope:
      path: "topics/_hofmann"
    values:
      contact: "andreas-hofmann"
  - scope:
      path: "topics/_kircher"
    values:
      contact: "josef-kircher"
  - scope:
      path: "topics/_kroenes"
    values:
      contact: "peter-kroenes"
  - scope:
      path: "topics/_luttkus"
    values:
      contact: "lennart-luttkus"
  - scope:
      path: "topics/_mandischer"
    values:
      contact: "nils-mandischer"
  - scope:
      path: "topics/_thummerer"
    values:
      contact: "tobias-thummerer"
  - scope:
      path: "topics/_trommer"
    values:
      contact: "julian-trommer"
  - scope:
      path: "topics/_zhang"
    values:
      contact: "yi-zhang"

collections:
  - aka
  - boborzi
  - hoepfner
  - hofmann
  - kircher
  - kroenes
  - luttkus
  - mandischer
  - thummerer
  - trommer
  - zhang
collections_dir: topics

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-include-cache


# HTML Compression
# - https://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
